@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang Staff <br> Di Sistem Pelaporan Mahasiswa</h1>
    <p><a href="#"></a>.</p>
</div>
