

<form method="post" asp-action="Register">
    Name :<input type="text" name="Name" />
    Email    :<input type="email" name="Email" />
    Pass     :<input type="password" name="Password" />
    <button type="submit">Submit</button>
</form>