@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMhs";
}
<div class="text-center">
    <h1 class="display-4">Selamat Datang Mahasiswa <br> Di Sistem Pelaporan Mahasiswa @ViewBag.iduser</h1>
    <p><a href="#"></a>.</p>
</div>
