@model SC.Models.Keluhan

@{
    ViewData["Title"] = "Create"; Layout = "_LayoutMhs";
}

<h1>Create</h1>

<h4>Keluhan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
            <div class="form-group">
                <input asp-for="Tanggal" type="hidden" class="form-control" value="@ViewBag.daten" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeluhanMhs" class="control-label"></label>
                <textarea asp-for="KeluhanMhs" class="form-control" rows="4" cols="25" required></textarea>
                <span asp-validation-for="KeluhanMhs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" value="@ViewBag.iduser" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-info" style="width:50%" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
