
/*css baru*/
a {
    text-decoration: none;
}

    a:hover {
        text-shadow: 0px 1px 18px #15f4ee;
        text-decoration: none;
        font-weight: bold;
    }

body {
    /*
       background: -webkit-linear-gradient(bottom, #3498db, #7bdcf7);
       background-repeat: no-repeat;
    */
    background: #2980b9;
    overflow: hidden;
}

    body:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: #3498db;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
        z-index: -1;
        transform-origin: bottom;
    }



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

::selection {
    background: rgba(26,188,156,0.3);
}


.card1 {
    width: 400px;
    background-color: transparent;
    padding: 0;
    float: left;
    margin: 10% 0 0 10%;
}

.card2 {
    width: 400px;
    background-color: transparent;
    padding: 0;
    float: right;
    margin: 10% auto;
}


.card-content {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

    .card-content .title {
        height: 90px;
        background: -webkit-linear-gradient(right, #1dddf2, #2980b9);
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-content form {
        padding: 30px 25px 25px 25px;
    }

        .card-content form .row {
            height: 45px;
            margin-bottom: 15px;
            position: relative;
        }

            .card-content form .row input {
                height: 100%;
                width: 100%;
                outline: none;
                padding-left: 60px;
                border-radius: 5px;
                border: 1px solid lightblue;
                font-size: 16px;
                transition: all 0.3s ease;
            }

form .row input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

form .row input::placeholder {
    color: #999;
}

.card-content form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: -webkit-linear-gradient(right, #1dddf2, #2980b9);
    border: 1px solid #2980b9;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content form .pass {
    margin: -8px 0 20px 0;
}

    .card-content form .pass a {
        color: #2980b9;
        font-size: 17px;
        text-decoration: none;
    }

        .card-content form .pass a:hover {
            text-decoration: underline;
        }

.card-content form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    margin: auto;
    padding-left: 0px;
    background: -webkit-linear-gradient(right, #1dddf2, #2980b9);
    border: 1px solid #2980b9;
    cursor: pointer;
}

form .button input:hover {
    background: #2980b9;
}

.card-content form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

    .card-content form .signup-link a {
        color: #2980b9;
        text-decoration: none;
    }

form .signup-link a:hover {
    text-decoration: underline;
}
